html, body {
  position: relative;
  height: 100%;
  margin: 0;
}

#environment {
  height: 100%;
  width: 100%;
}

#add-sine-wave-node-cluster-btn {
  position: absolute;
  bottom: 20px;
  right: 100px;
}

#recording-shit {
  position: absolute;
  top: 20px;
  left: 20px;
}

#stop-recording {
  display: none;
}
